NoarJobUI/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62581/WcfNoarJob.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62581/WcfNoarJob.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62581/WcfNoarJob.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfNoarJob" />
      <xsd:import schemaLocation="http://localhost:62581/WcfNoarJob.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/NoarJobBL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWcfNoarJob_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_UserLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:UserLogin" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_UserLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserLoginResponse" />
  </wsdl:message>
  <wsdl:portType name="IWcfNoarJob">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfNoarJob/GetData" message="tns:IWcfNoarJob_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfNoarJob/GetDataResponse" message="tns:IWcfNoarJob_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfNoarJob/GetDataUsingDataContract" message="tns:IWcfNoarJob_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfNoarJob/GetDataUsingDataContractResponse" message="tns:IWcfNoarJob_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfNoarJob/CreateUser" message="tns:IWcfNoarJob_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfNoarJob/CreateUserResponse" message="tns:IWcfNoarJob_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfNoarJob/UserLogin" message="tns:IWcfNoarJob_UserLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfNoarJob/UserLoginResponse" message="tns:IWcfNoarJob_UserLogin_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWcfNoarJob" type="tns:IWcfNoarJob">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IWcfNoarJob/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IWcfNoarJob/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/IWcfNoarJob/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <soap:operation soapAction="http://tempuri.org/IWcfNoarJob/UserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IWcfNoarJob" binding="tns:BasicHttpBinding_IWcfNoarJob">
      <soap:address location="http://localhost:62581/WcfNoarJob.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>