NoarJobUI/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62581/WcfNoarJob.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62581/WcfNoarJob.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62581/WcfNoarJob.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfNoarJob" />
      <xsd:import schemaLocation="http://localhost:62581/WcfNoarJob.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:62581/WcfNoarJob.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWcfNoarJob_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_UserLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:UserLogin" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_UserLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_GetCities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCities" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_GetCities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_GetAllCompanyTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCompanyTypes" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_GetAllCompanyTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCompanyTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_InsertCv_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCv" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_InsertCv_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCvResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_UpdateCvActivity_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCvActivity" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_UpdateCvActivity_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCvActivityResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_EmployerLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:EmployerLogin" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_EmployerLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmployerLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_CreateEmployer_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateEmployer" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_CreateEmployer_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateEmployerResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_CreateJob_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateJob" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_CreateJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateJobResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_UpdateJob_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateJob" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_UpdateJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateJobResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_UpdateJobActivity_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateJobActivity" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_UpdateJobActivity_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateJobActivityResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_GetJobsSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJobsSearch" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_GetJobsSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJobsSearchResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_GetEmployerJobsByJobActivity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployerJobsByJobActivity" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_GetEmployerJobsByJobActivity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployerJobsByJobActivityResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_GetTheMostSoughtJobBL_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTheMostSoughtJobBL" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_GetTheMostSoughtJobBL_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTheMostSoughtJobBLResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_GetParentJobCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetParentJobCategories" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_GetParentJobCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetParentJobCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_GetJobCategoriesByParentID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJobCategoriesByParentID" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_GetJobCategoriesByParentID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJobCategoriesByParentIDResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_GetParentJobCategoriesByText_InputMessage">
    <wsdl:part name="parameters" element="tns:GetParentJobCategoriesByText" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_GetParentJobCategoriesByText_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetParentJobCategoriesByTextResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_GetJobCategoriesByParentIDAndByText_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJobCategoriesByParentIDAndByText" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_GetJobCategoriesByParentIDAndByText_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJobCategoriesByParentIDAndByTextResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_GetAllJobTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllJobTypes" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_GetAllJobTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllJobTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_GetAllSubTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSubTypes" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_GetAllSubTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSubTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_GetSameParentCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSameParentCategory" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_GetSameParentCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSameParentCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_GetSameChildCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSameChildCategories" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_GetSameChildCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSameChildCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_SameChildCategoriesAndCities_InputMessage">
    <wsdl:part name="parameters" element="tns:SameChildCategoriesAndCities" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_SameChildCategoriesAndCities_OutputMessage">
    <wsdl:part name="parameters" element="tns:SameChildCategoriesAndCitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_SameChildCategoriesAndCitiesAndTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:SameChildCategoriesAndCitiesAndTypes" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_SameChildCategoriesAndCitiesAndTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:SameChildCategoriesAndCitiesAndTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_ResetWSearchAgent_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetWSearchAgent" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_ResetWSearchAgent_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetWSearchAgentResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_InsertSearchAgentValues_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertSearchAgentValues" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_InsertSearchAgentValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertSearchAgentValuesResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_UpdateSearchAgentValues_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSearchAgentValues" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_UpdateSearchAgentValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSearchAgentValuesResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_UpdateSearchAgentActivity_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSearchAgentActivity" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_UpdateSearchAgentActivity_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSearchAgentActivityResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_GetJobsBySearchAgent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJobsBySearchAgent" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_GetJobsBySearchAgent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJobsBySearchAgentResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_GetSearchAgentsByUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSearchAgentsByUser" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_GetSearchAgentsByUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSearchAgentsByUserResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_GetApplyForJobs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApplyForJobs" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_GetApplyForJobs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApplyForJobsResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_GetLovedJobs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLovedJobs" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_GetLovedJobs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLovedJobsResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_GetUsersByJobAndTabType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersByJobAndTabType" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_GetUsersByJobAndTabType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersByJobAndTabTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_UpdateEmployerNotes_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmployerNotes" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_UpdateEmployerNotes_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmployerNotesResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_UpdateTabType_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTabType" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_UpdateTabType_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTabTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_UpdateUserJobType_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserJobType" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_UpdateUserJobType_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserJobTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_CreateUser_Job_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser_Job" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_CreateUser_Job_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser_JobResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_CreateUser_JobAtDeleteOrLove_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser_JobAtDeleteOrLove" />
  </wsdl:message>
  <wsdl:message name="IWcfNoarJob_CreateUser_JobAtDeleteOrLove_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser_JobAtDeleteOrLoveResponse" />
  </wsdl:message>
  <wsdl:portType name="IWcfNoarJob">
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfNoarJob/CreateUser" message="tns:IWcfNoarJob_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfNoarJob/CreateUserResponse" message="tns:IWcfNoarJob_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfNoarJob/UserLogin" message="tns:IWcfNoarJob_UserLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfNoarJob/UserLoginResponse" message="tns:IWcfNoarJob_UserLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCities">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfNoarJob/GetCities" message="tns:IWcfNoarJob_GetCities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfNoarJob/GetCitiesResponse" message="tns:IWcfNoarJob_GetCities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCompanyTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfNoarJob/GetAllCompanyTypes" message="tns:IWcfNoarJob_GetAllCompanyTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfNoarJob/GetAllCompanyTypesResponse" message="tns:IWcfNoarJob_GetAllCompanyTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCv">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfNoarJob/InsertCv" message="tns:IWcfNoarJob_InsertCv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfNoarJob/InsertCvResponse" message="tns:IWcfNoarJob_InsertCv_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCvActivity">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfNoarJob/UpdateCvActivity" message="tns:IWcfNoarJob_UpdateCvActivity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfNoarJob/UpdateCvActivityResponse" message="tns:IWcfNoarJob_UpdateCvActivity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmployerLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfNoarJob/EmployerLogin" message="tns:IWcfNoarJob_EmployerLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfNoarJob/EmployerLoginResponse" message="tns:IWcfNoarJob_EmployerLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateEmployer">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfNoarJob/CreateEmployer" message="tns:IWcfNoarJob_CreateEmployer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfNoarJob/CreateEmployerResponse" message="tns:IWcfNoarJob_CreateEmployer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateJob">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfNoarJob/CreateJob" message="tns:IWcfNoarJob_CreateJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfNoarJob/CreateJobResponse" message="tns:IWcfNoarJob_CreateJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateJob">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfNoarJob/UpdateJob" message="tns:IWcfNoarJob_UpdateJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfNoarJob/UpdateJobResponse" message="tns:IWcfNoarJob_UpdateJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateJobActivity">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfNoarJob/UpdateJobActivity" message="tns:IWcfNoarJob_UpdateJobActivity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfNoarJob/UpdateJobActivityResponse" message="tns:IWcfNoarJob_UpdateJobActivity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJobsSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfNoarJob/GetJobsSearch" message="tns:IWcfNoarJob_GetJobsSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfNoarJob/GetJobsSearchResponse" message="tns:IWcfNoarJob_GetJobsSearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployerJobsByJobActivity">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfNoarJob/GetEmployerJobsByJobActivity" message="tns:IWcfNoarJob_GetEmployerJobsByJobActivity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfNoarJob/GetEmployerJobsByJobActivityResponse" message="tns:IWcfNoarJob_GetEmployerJobsByJobActivity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTheMostSoughtJobBL">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfNoarJob/GetTheMostSoughtJobBL" message="tns:IWcfNoarJob_GetTheMostSoughtJobBL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfNoarJob/GetTheMostSoughtJobBLResponse" message="tns:IWcfNoarJob_GetTheMostSoughtJobBL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetParentJobCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfNoarJob/GetParentJobCategories" message="tns:IWcfNoarJob_GetParentJobCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfNoarJob/GetParentJobCategoriesResponse" message="tns:IWcfNoarJob_GetParentJobCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJobCategoriesByParentID">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfNoarJob/GetJobCategoriesByParentID" message="tns:IWcfNoarJob_GetJobCategoriesByParentID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfNoarJob/GetJobCategoriesByParentIDResponse" message="tns:IWcfNoarJob_GetJobCategoriesByParentID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetParentJobCategoriesByText">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfNoarJob/GetParentJobCategoriesByText" message="tns:IWcfNoarJob_GetParentJobCategoriesByText_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfNoarJob/GetParentJobCategoriesByTextResponse" message="tns:IWcfNoarJob_GetParentJobCategoriesByText_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJobCategoriesByParentIDAndByText">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfNoarJob/GetJobCategoriesByParentIDAndByText" message="tns:IWcfNoarJob_GetJobCategoriesByParentIDAndByText_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfNoarJob/GetJobCategoriesByParentIDAndByTextResponse" message="tns:IWcfNoarJob_GetJobCategoriesByParentIDAndByText_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllJobTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfNoarJob/GetAllJobTypes" message="tns:IWcfNoarJob_GetAllJobTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfNoarJob/GetAllJobTypesResponse" message="tns:IWcfNoarJob_GetAllJobTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSubTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfNoarJob/GetAllSubTypes" message="tns:IWcfNoarJob_GetAllSubTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfNoarJob/GetAllSubTypesResponse" message="tns:IWcfNoarJob_GetAllSubTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSameParentCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfNoarJob/GetSameParentCategory" message="tns:IWcfNoarJob_GetSameParentCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfNoarJob/GetSameParentCategoryResponse" message="tns:IWcfNoarJob_GetSameParentCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSameChildCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfNoarJob/GetSameChildCategories" message="tns:IWcfNoarJob_GetSameChildCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfNoarJob/GetSameChildCategoriesResponse" message="tns:IWcfNoarJob_GetSameChildCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SameChildCategoriesAndCities">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfNoarJob/SameChildCategoriesAndCities" message="tns:IWcfNoarJob_SameChildCategoriesAndCities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfNoarJob/SameChildCategoriesAndCitiesResponse" message="tns:IWcfNoarJob_SameChildCategoriesAndCities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SameChildCategoriesAndCitiesAndTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfNoarJob/SameChildCategoriesAndCitiesAndTypes" message="tns:IWcfNoarJob_SameChildCategoriesAndCitiesAndTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfNoarJob/SameChildCategoriesAndCitiesAndTypesResponse" message="tns:IWcfNoarJob_SameChildCategoriesAndCitiesAndTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetWSearchAgent">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfNoarJob/ResetWSearchAgent" message="tns:IWcfNoarJob_ResetWSearchAgent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfNoarJob/ResetWSearchAgentResponse" message="tns:IWcfNoarJob_ResetWSearchAgent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertSearchAgentValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfNoarJob/InsertSearchAgentValues" message="tns:IWcfNoarJob_InsertSearchAgentValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfNoarJob/InsertSearchAgentValuesResponse" message="tns:IWcfNoarJob_InsertSearchAgentValues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSearchAgentValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfNoarJob/UpdateSearchAgentValues" message="tns:IWcfNoarJob_UpdateSearchAgentValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfNoarJob/UpdateSearchAgentValuesResponse" message="tns:IWcfNoarJob_UpdateSearchAgentValues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSearchAgentActivity">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfNoarJob/UpdateSearchAgentActivity" message="tns:IWcfNoarJob_UpdateSearchAgentActivity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfNoarJob/UpdateSearchAgentActivityResponse" message="tns:IWcfNoarJob_UpdateSearchAgentActivity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJobsBySearchAgent">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfNoarJob/GetJobsBySearchAgent" message="tns:IWcfNoarJob_GetJobsBySearchAgent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfNoarJob/GetJobsBySearchAgentResponse" message="tns:IWcfNoarJob_GetJobsBySearchAgent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSearchAgentsByUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfNoarJob/GetSearchAgentsByUser" message="tns:IWcfNoarJob_GetSearchAgentsByUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfNoarJob/GetSearchAgentsByUserResponse" message="tns:IWcfNoarJob_GetSearchAgentsByUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApplyForJobs">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfNoarJob/GetApplyForJobs" message="tns:IWcfNoarJob_GetApplyForJobs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfNoarJob/GetApplyForJobsResponse" message="tns:IWcfNoarJob_GetApplyForJobs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLovedJobs">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfNoarJob/GetLovedJobs" message="tns:IWcfNoarJob_GetLovedJobs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfNoarJob/GetLovedJobsResponse" message="tns:IWcfNoarJob_GetLovedJobs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersByJobAndTabType">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfNoarJob/GetUsersByJobAndTabType" message="tns:IWcfNoarJob_GetUsersByJobAndTabType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfNoarJob/GetUsersByJobAndTabTypeResponse" message="tns:IWcfNoarJob_GetUsersByJobAndTabType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployerNotes">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfNoarJob/UpdateEmployerNotes" message="tns:IWcfNoarJob_UpdateEmployerNotes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfNoarJob/UpdateEmployerNotesResponse" message="tns:IWcfNoarJob_UpdateEmployerNotes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTabType">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfNoarJob/UpdateTabType" message="tns:IWcfNoarJob_UpdateTabType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfNoarJob/UpdateTabTypeResponse" message="tns:IWcfNoarJob_UpdateTabType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserJobType">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfNoarJob/UpdateUserJobType" message="tns:IWcfNoarJob_UpdateUserJobType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfNoarJob/UpdateUserJobTypeResponse" message="tns:IWcfNoarJob_UpdateUserJobType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser_Job">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfNoarJob/CreateUser_Job" message="tns:IWcfNoarJob_CreateUser_Job_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfNoarJob/CreateUser_JobResponse" message="tns:IWcfNoarJob_CreateUser_Job_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser_JobAtDeleteOrLove">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfNoarJob/CreateUser_JobAtDeleteOrLove" message="tns:IWcfNoarJob_CreateUser_JobAtDeleteOrLove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfNoarJob/CreateUser_JobAtDeleteOrLoveResponse" message="tns:IWcfNoarJob_CreateUser_JobAtDeleteOrLove_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWcfNoarJob" type="tns:IWcfNoarJob">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/IWcfNoarJob/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <soap:operation soapAction="http://tempuri.org/IWcfNoarJob/UserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCities">
      <soap:operation soapAction="http://tempuri.org/IWcfNoarJob/GetCities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCompanyTypes">
      <soap:operation soapAction="http://tempuri.org/IWcfNoarJob/GetAllCompanyTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCv">
      <soap:operation soapAction="http://tempuri.org/IWcfNoarJob/InsertCv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCvActivity">
      <soap:operation soapAction="http://tempuri.org/IWcfNoarJob/UpdateCvActivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmployerLogin">
      <soap:operation soapAction="http://tempuri.org/IWcfNoarJob/EmployerLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateEmployer">
      <soap:operation soapAction="http://tempuri.org/IWcfNoarJob/CreateEmployer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateJob">
      <soap:operation soapAction="http://tempuri.org/IWcfNoarJob/CreateJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateJob">
      <soap:operation soapAction="http://tempuri.org/IWcfNoarJob/UpdateJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateJobActivity">
      <soap:operation soapAction="http://tempuri.org/IWcfNoarJob/UpdateJobActivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobsSearch">
      <soap:operation soapAction="http://tempuri.org/IWcfNoarJob/GetJobsSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployerJobsByJobActivity">
      <soap:operation soapAction="http://tempuri.org/IWcfNoarJob/GetEmployerJobsByJobActivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTheMostSoughtJobBL">
      <soap:operation soapAction="http://tempuri.org/IWcfNoarJob/GetTheMostSoughtJobBL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParentJobCategories">
      <soap:operation soapAction="http://tempuri.org/IWcfNoarJob/GetParentJobCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobCategoriesByParentID">
      <soap:operation soapAction="http://tempuri.org/IWcfNoarJob/GetJobCategoriesByParentID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParentJobCategoriesByText">
      <soap:operation soapAction="http://tempuri.org/IWcfNoarJob/GetParentJobCategoriesByText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobCategoriesByParentIDAndByText">
      <soap:operation soapAction="http://tempuri.org/IWcfNoarJob/GetJobCategoriesByParentIDAndByText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllJobTypes">
      <soap:operation soapAction="http://tempuri.org/IWcfNoarJob/GetAllJobTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSubTypes">
      <soap:operation soapAction="http://tempuri.org/IWcfNoarJob/GetAllSubTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSameParentCategory">
      <soap:operation soapAction="http://tempuri.org/IWcfNoarJob/GetSameParentCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSameChildCategories">
      <soap:operation soapAction="http://tempuri.org/IWcfNoarJob/GetSameChildCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SameChildCategoriesAndCities">
      <soap:operation soapAction="http://tempuri.org/IWcfNoarJob/SameChildCategoriesAndCities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SameChildCategoriesAndCitiesAndTypes">
      <soap:operation soapAction="http://tempuri.org/IWcfNoarJob/SameChildCategoriesAndCitiesAndTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetWSearchAgent">
      <soap:operation soapAction="http://tempuri.org/IWcfNoarJob/ResetWSearchAgent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertSearchAgentValues">
      <soap:operation soapAction="http://tempuri.org/IWcfNoarJob/InsertSearchAgentValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSearchAgentValues">
      <soap:operation soapAction="http://tempuri.org/IWcfNoarJob/UpdateSearchAgentValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSearchAgentActivity">
      <soap:operation soapAction="http://tempuri.org/IWcfNoarJob/UpdateSearchAgentActivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobsBySearchAgent">
      <soap:operation soapAction="http://tempuri.org/IWcfNoarJob/GetJobsBySearchAgent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSearchAgentsByUser">
      <soap:operation soapAction="http://tempuri.org/IWcfNoarJob/GetSearchAgentsByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplyForJobs">
      <soap:operation soapAction="http://tempuri.org/IWcfNoarJob/GetApplyForJobs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLovedJobs">
      <soap:operation soapAction="http://tempuri.org/IWcfNoarJob/GetLovedJobs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersByJobAndTabType">
      <soap:operation soapAction="http://tempuri.org/IWcfNoarJob/GetUsersByJobAndTabType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployerNotes">
      <soap:operation soapAction="http://tempuri.org/IWcfNoarJob/UpdateEmployerNotes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTabType">
      <soap:operation soapAction="http://tempuri.org/IWcfNoarJob/UpdateTabType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserJobType">
      <soap:operation soapAction="http://tempuri.org/IWcfNoarJob/UpdateUserJobType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser_Job">
      <soap:operation soapAction="http://tempuri.org/IWcfNoarJob/CreateUser_Job" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser_JobAtDeleteOrLove">
      <soap:operation soapAction="http://tempuri.org/IWcfNoarJob/CreateUser_JobAtDeleteOrLove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IWcfNoarJob" binding="tns:BasicHttpBinding_IWcfNoarJob">
      <soap:address location="http://localhost:62581/WcfNoarJob.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>