NoarJobUI/Connected Services/ServiceReference1/WcfNoarJob3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62581/WcfNoarJob.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfNoarJob" />
  <xs:import schemaLocation="http://localhost:62581/WcfNoarJob.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="CreateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cityID" type="xs:int" />
        <xs:element minOccurs="0" name="cityName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfNoarJob" minOccurs="0" name="CreateUserResult" nillable="true" type="q1:WUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfNoarJob" minOccurs="0" name="UserLoginResult" nillable="true" type="q2:WUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCitiesResult" nillable="true" type="q3:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCompanyTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCompanyTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfNoarJob" minOccurs="0" name="GetAllCompanyTypesResult" nillable="true" type="q4:ArrayOfWCompanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCv">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cvFilePath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfNoarJob" minOccurs="0" name="wUser" nillable="true" type="q5:WUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCvResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCvActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfNoarJob" minOccurs="0" name="wCv" nillable="true" type="q6:WCv" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCvActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfNoarJob" minOccurs="0" name="UpdateCvActivityResult" nillable="true" type="q7:WCv" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployerLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="employerPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployerLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfNoarJob" minOccurs="0" name="EmployerLoginResult" nillable="true" type="q8:WEmployer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEmployer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numOfEmployees" type="xs:int" />
        <xs:element minOccurs="0" name="companyTypeID" type="xs:int" />
        <xs:element minOccurs="0" name="companyTypeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="employerPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyEmail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEmployerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfNoarJob" minOccurs="0" name="CreateEmployerResult" nillable="true" type="q9:WEmployer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requirements" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="employerID" type="xs:int" />
        <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="jobCategories" nillable="true" type="q10:ArrayOfint" />
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="cities" nillable="true" type="q11:ArrayOfint" />
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="jobTypes" nillable="true" type="q12:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WcfNoarJob" minOccurs="0" name="CreateJobResult" nillable="true" type="q13:WJob" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WcfNoarJob" minOccurs="0" name="wJob" nillable="true" type="q14:WJob" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requirements" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="employerID" type="xs:int" />
        <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="jobCategories" nillable="true" type="q15:ArrayOfint" />
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="cities" nillable="true" type="q16:ArrayOfint" />
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="jobTypes" nillable="true" type="q17:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateJobResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateJobActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WcfNoarJob" minOccurs="0" name="wJob" nillable="true" type="q18:WJob" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateJobActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateJobActivityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobsSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentCategory" type="xs:int" />
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="jobCategories" nillable="true" type="q19:ArrayOfint" />
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="jobTypes" nillable="true" type="q20:ArrayOfint" />
        <xs:element minOccurs="0" name="city" type="xs:int" />
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobsSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WcfNoarJob" minOccurs="0" name="GetJobsSearchResult" nillable="true" type="q21:ArrayOfWJob" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployerJobsByJobActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employerID" type="xs:int" />
        <xs:element minOccurs="0" name="isActive" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployerJobsByJobActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WcfNoarJob" minOccurs="0" name="GetEmployerJobsByJobActivityResult" nillable="true" type="q22:ArrayOfWJob" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTheMostSoughtJobBL">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="childCategoriesLst" nillable="true" type="q23:ArrayOfint" />
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="citiesLst" nillable="true" type="q24:ArrayOfint" />
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="typesLst" nillable="true" type="q25:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTheMostSoughtJobBLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/WcfNoarJob" minOccurs="0" name="GetTheMostSoughtJobBLResult" nillable="true" type="q26:ArrayOfWJob" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParentJobCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParentJobCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetParentJobCategoriesResult" nillable="true" type="q27:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobCategoriesByParentID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/WcfNoarJob" minOccurs="0" name="wJobCategories" nillable="true" type="q28:WJobCategories" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobCategoriesByParentIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetJobCategoriesByParentIDResult" nillable="true" type="q29:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParentJobCategoriesByText">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParentJobCategoriesByTextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetParentJobCategoriesByTextResult" nillable="true" type="q30:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobCategoriesByParentIDAndByText">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/WcfNoarJob" minOccurs="0" name="wJobCategories" nillable="true" type="q31:WJobCategories" />
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobCategoriesByParentIDAndByTextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetJobCategoriesByParentIDAndByTextResult" nillable="true" type="q32:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllJobTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllJobTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllJobTypesResult" nillable="true" type="q33:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSubTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSubTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllSubTypesResult" nillable="true" type="q34:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSameParentCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentCategory" type="xs:int" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/WcfNoarJob" minOccurs="0" name="wSSOU" nillable="true" type="q35:WSameSearchesOfUsers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSameParentCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/WcfNoarJob" minOccurs="0" name="GetSameParentCategoryResult" nillable="true" type="q36:WSameSearchesOfUsers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSameChildCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="childCategoriesLst" nillable="true" type="q37:ArrayOfint" />
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/WcfNoarJob" minOccurs="0" name="wSSOU" nillable="true" type="q38:WSameSearchesOfUsers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSameChildCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/WcfNoarJob" minOccurs="0" name="GetSameChildCategoriesResult" nillable="true" type="q39:WSameSearchesOfUsers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SameChildCategoriesAndCities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="childCategoriesLst" nillable="true" type="q40:ArrayOfint" />
        <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="citiesLst" nillable="true" type="q41:ArrayOfint" />
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/WcfNoarJob" minOccurs="0" name="wSSOU" nillable="true" type="q42:WSameSearchesOfUsers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SameChildCategoriesAndCitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/WcfNoarJob" minOccurs="0" name="SameChildCategoriesAndCitiesResult" nillable="true" type="q43:WSameSearchesOfUsers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SameChildCategoriesAndCitiesAndTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="childCategoriesLst" nillable="true" type="q44:ArrayOfint" />
        <xs:element xmlns:q45="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="citiesLst" nillable="true" type="q45:ArrayOfint" />
        <xs:element xmlns:q46="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="typesLst" nillable="true" type="q46:ArrayOfint" />
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/WcfNoarJob" minOccurs="0" name="wSSOU" nillable="true" type="q47:WSameSearchesOfUsers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SameChildCategoriesAndCitiesAndTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/WcfNoarJob" minOccurs="0" name="SameChildCategoriesAndCitiesAndTypesResult" nillable="true" type="q48:WSameSearchesOfUsers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetWSearchAgent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/WcfNoarJob" minOccurs="0" name="wSearchAgent" nillable="true" type="q49:WSearchAgent" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetWSearchAgentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/WcfNoarJob" minOccurs="0" name="ResetWSearchAgentResult" nillable="true" type="q50:WSearchAgent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSearchAgentValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/WcfNoarJob" minOccurs="0" name="wSearchAgent" nillable="true" type="q51:WSearchAgent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSearchAgentValuesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSearchAgentValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/WcfNoarJob" minOccurs="0" name="wSearchAgent" nillable="true" type="q52:WSearchAgent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSearchAgentValuesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSearchAgentActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchAgentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSearchAgentActivityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobsBySearchAgent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchAgentID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobsBySearchAgentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/WcfNoarJob" minOccurs="0" name="GetJobsBySearchAgentResult" nillable="true" type="q53:ArrayOfWJob" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchAgentsByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchAgentsByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/WcfNoarJob" minOccurs="0" name="GetSearchAgentsByUserResult" nillable="true" type="q54:ArrayOfWSearchAgent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplyForJobs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplyForJobsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/WcfNoarJob" minOccurs="0" name="GetApplyForJobsResult" nillable="true" type="q55:ArrayOfWJob" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLovedJobs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLovedJobsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/WcfNoarJob" minOccurs="0" name="GetLovedJobsResult" nillable="true" type="q56:ArrayOfWJob" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersByJobAndTabType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jobID" type="xs:int" />
        <xs:element minOccurs="0" name="tabType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersByJobAndTabTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/WcfNoarJob" minOccurs="0" name="GetUsersByJobAndTabTypeResult" nillable="true" type="q57:ArrayOfWUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmployerNotes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jobID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="notes" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmployerNotesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTabType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jobID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="tabType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTabTypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserJobType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jobID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="userJobType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserJobTypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUser_Job">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jobID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="cvID" type="xs:int" />
        <xs:element minOccurs="0" name="dateApplicated" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUser_JobResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUser_JobAtDeleteOrLove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jobID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="userJobType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUser_JobAtDeleteOrLoveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>